@{
    ViewData["Title"] = "Kapcsolat";
}

<div class="section">
    <div class="section-h">
        <h3>Kapcsolat</h3>
        <p>Elérhetőségek</p>
    </div>

    <div style="padding:16px">
        <p>Email: info@iskola.hu</p>
        <p>Telefon: +36 30 123 4567</p>
    </div>
</div>
