@{
    ViewData["Title"] = "Galéria";
}

<div class="section">
    <div class="section-h">
        <h3>Galéria</h3>
    </div>

    <div class="gallery">
        <div class="strip">
            <!-- reuse .gitem -->
        </div>
    </div>
</div>
