@{
    ViewData["Title"] = "Órarend";
}

<div class="box">
    <div class="box-h">
        <h4>Itt lesznek az órarendek</h4>
    </div>
    <div class="box-body">
        <!-- reuse .event blocks -->
    </div>
</div>
