
<div class="content">

    <section class="hero hero-gimi">
        <div class="hero-left">
            <span class="hero-kicker">Szakmai képzés</span>

            <h2>Gazdálkodás és menedzsment ágazat</h2>

            <p>
                Ha érdekelnek a gazdasági folyamatok,
                a vállalkozások működése és a pénzügyek világa,
                válaszd ezt az ágazatot.
            </p>

            <div class="hero-metrics">
                <div class="metric">
                    <b>4 év</b>
                    <span>Képzési idő</span>
                </div>
                <div class="metric">
                    <b>Gimnázium</b>
                    <span>Végzettség</span>
                </div>
                <div class="metric">
                    <b>0015 </b>
                    <span>Ágazati kód</span>
                </div>
            </div>
        </div>

        <div class="hero-right">
            <div class="hero-card">
                <div class="hero-illustration hero-illustration-gimi"></div>
            </div>
        </div>
    </section>

</div>
